<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fhx.propertyuser">

    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--写入SD卡的权限：如果你希望保存相机拍照后的照片-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取SD卡的权限:打开相册选取图片所必须的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <!--闪屏页-->
        <activity android:name=".activity.login.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录页-->
        <activity android:name=".activity.login.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--验证注册页-->
        <activity android:name=".activity.login.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--输入验证码-->
        <activity android:name=".activity.login.VerificationCodeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--找回密码 设置密码 重新设置密码-->
        <activity android:name=".activity.login.SettingPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--修改个人信息-->
        <activity android:name=".activity.mine.MineInformationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--个人信息 修改密码-->
        <activity android:name=".activity.mine.ChangePasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--个人认证-->
        <activity android:name=".activity.mine.PersonalAttestationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--车辆认证-->
        <activity android:name=".activity.mine.CarAttestationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--车辆认证-->
        <activity android:name=".activity.mine.CarManageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--账单服务-->
        <activity android:name=".activity.mine.OrderListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--账单详情-->
        <activity android:name=".activity.mine.OrderMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--账单消费记录-->
        <activity android:name=".activity.mine.OrderRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--缴费充值列表页-->
        <activity android:name=".activity.RechargeListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--缴费充值详情页-->
        <activity android:name=".activity.RechargeMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--邀约列表-->
        <activity android:name=".activity.InviteListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--访客邀约-->
        <activity android:name=".activity.VisitorInviteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--维护报修-->
        <activity android:name=".activity.RepairListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--我要报修-->
        <activity android:name=".activity.ToRepairActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--报修详情-->
        <activity android:name=".activity.RepairMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--通知公告-->
        <activity android:name=".activity.InformListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--楼宇资讯-->
        <activity android:name=".activity.BuildingInformActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--投诉列表-->
        <activity android:name=".activity.ComplainListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--提交投诉-->
        <activity android:name=".activity.ComplainCommitActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--提交投诉详情-->
        <activity android:name=".activity.ComplainMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--通讯录-->
        <activity android:name=".activity.ContactsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--通讯录-->
        <activity android:name=".activity.ContactsMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".activity.WebActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>